{{filter-bar name=model.title}}
<main role="main">
  <div class="container  head">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ model.title }}</h1>
        <div class="disabled">
          <p>{{ markdown-to-html model.description }}
          </p>
        </div>
        <div class="status">
          <ul class="list-inline">
            <li>
              <p><span><i class="material-icons">loop</i></span>Project Status:<em>In Progress</em></p>
            </li>
            <li>
              <p><span><i class="material-icons">event</i></span>Last Update:<em>{{ model.updated_at }}</em></p>
            </li>
          </ul>
          {{#if model.collaborations}}
            <ul class="list-inline">
              <li>
                <p><span><i class="material-icons">room</i></span>
                  <em>
                    {{#each model.collaborations as |collab| }}
                      <a href="/labs/{{ collab.slug }}"> {{ collab.name }}</a>,
                    {{/each}}
                  </em>
                </p>
              </li>
            </ul>
          {{/if}}
          <ul class="list-inline">
            <li>
              <p>
                <span><i class="material-icons">local_offer</i></span>
                <em>
                  {{#each model.tags as |tag| }}
                    {{#if tag.name }}
                      <a class="btn btn-tag" href="index.html">{{ tag.name }}</a>
                    {{else}}
                      <a class="btn btn-tag" href="index.html">Untagged</a>
                    {{/if}}
                  {{/each}}
                </em>
              </p>
            </li>
          </ul>
          <ul class="list-inline">
            <li>
              <p><span><i class="material-icons">attach_file</i></span><em><a href="index.html"><img src="img/github.png">Github</a>, <a href="index.html"><img src="img/googledrive.png">Google Drive</a>, <a href="google.com">http://anotherlink.com</a></em></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <span class="pull-right">
          <div class="activations">
            <ul class="list-inline">
              <li>
                <button type="button" class="btn btn-interaction">Built it<em><span><i class="interact material-icons">build</i></span>12</em></button>
             </li>
              <li>
                <button type="button" class="btn btn-interaction">Remade it<em><span><i class="interact material-icons">call_split</i></span>12</em></button>
             </li>
             <li class="active">
                <button type="button" class="btn btn-interaction">Like it<em><span><i class="interact material-icons">favorite</i></span>12</em></button>
             </li>
            </ul>
          </div>
          <div class="share">
              <ul class="list-inline pull-right">
                <h6>Share this project:</h6>
                <li>
                  <button type="button" class="btn btn-social"><em><span><img src="img/twitter.png"></span>12</em></button>
                </li>
                <li>
                  <button type="button" class="btn btn-social"><em><span><img src="img/fb.png"></span>12</em></button>
                 </li>
                <li>
                  <button type="button" class="btn btn-social"><em><span><img src="img/g.png"></span>12</em></button>
               </li>
              </ul>
          </div>
          <div class="counters pull-right">
            <ul class="list-inline">
              <li>
                <button type="button" class="special" href="#steps"><h1>{{ model.steps_count }}</h1><p>Steps</p>
                </button>
              </li>
              <li>
                <button type="button" class="special" href="#users"><h1>{{ model.users_count }}</h1><p>Users</p>
                </button>
              </li>
              <li>
                <button type="button" class="special" href="#machines"><h1>{{ model.machines_count }}</h1><p>Machines</p>
                </button>
              </li>
            </ul>
          </div>
        </span>
      </div>
    </div>
    <hr>
    <article class="info">
      <div class="row">
        {{#if model.scope }}
          <div class="col-md-7">
            <h3>About</h3>
            <div class="description">
              <p>{{ markdown-to-html model.scope }}</p>
              {{#if model.faq }}
                <h4>FAQ</h4>
                <p>{{ markdown-to-html model.faq }}</p>
              {{/if}}
            </div>
          </div>
        {{/if}}
      </div>
    </article>
  </div>
</main>
{{#if model.documents }}
  {{documents-gallery documents=model.documents}}
{{/if}}

{{#if model.steps}}
  {{steps-gallery steps=model.steps }}
{{/if}}

{{ users-gallery count="All" users=model.users }}

{{#if model.machines}}
  {{machines-gallery steps=model.machines }}
{{/if}}

{{#if model.collaborations}}
  {{labs-gallery count=model.labs_count labs=model.collaborations}}
{{/if}}
