{{#if model}}
{{filter-bar name=model.name}}
<main role="main">
  <div class="container  head">
    <div class="row">
      <div class="col-md-7">
        <div class="profile">
          <img src={{model.avatar}} class="img-rounded"/>
        </div>
        <h1>{{ model.name }}</h1>
        <p class="disabled">{{ model.lab_kind }}</p>
      </div>
      <div class="col-md-5">
        <span class="pull-right">
            <ul class="list-inline">
              <li>
                <button type="button" class="btn btn-default"><span><i class="material-icons">room</i></span>I've been here</button>
              </li>
              <li>
                <button type="button" class="btn btn-action"><span><i class="material-icons">comment</i></span>Join the Community</button>
              </li>
            </ul>

        </span>
      </div>
    </div>
    <hr>

    <article class="info">
      <div class="row">
        <div class="col-md-7">
          <h3>About</h3>
          <div class="description">
            <p>{{ model.description }}</p>
          </div>
        </div>
        <div class="col-md-5 info">
          <span class="pull-right">
            <ul class="list-inline">
              <li>
                <button type="button" class="special" href="#projects"><h1>16</h1><p>Projects</p>
                </button>
              </li>
              <li>
                <button type="button" class="special" href="#users"><h1>178</h1><p>Users</p>
                </button>
              </li>
              <li>
                <button type="button" class="special" href="#machines"><h1>21</h1><p>Events</p>
                </button>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </article>
  </div>

</main>

<article class="detail">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3>Lab Details</h3>
        <div class="col-sm-4">
          <span class="disabled"><i class="material-icons">build</i></span>
          <h3>Capabilities</h3>
          <ul>
            {{#each model.lab_capabilities as |capability| }}
              <li><p class="capitalize">{{ capability }}</p></li>
            {{/each}}
          </ul>
          <a href="#machines"><p>View Machines →</p></a>
        </div>
        <div class="col-sm-4">
          <span class="disabled"><i class="material-icons">schedule</i></span>
          <h3>Opening Times</h3>
          <ul>
            <li><p>Mon <span>:</span> 9am <span> – </span> 7pm</p></li>
            <li><p>Tue <span>:</span> 9am <span> – </span> 7pm</p></li>
            <li><p>Wed <span>:</span> 9am <span> – </span> 7pm</p></li>
            <li><p><span class="disabled">Thu </span>:<span> Closed</span></p></li>
            <li><p>Fri <span>:</span> 9am <span> – </span> 7pm</p></li>
            <li><p>Sat <span>:</span> 9am <span> – </span> 7pm</p></li>
            <li><p><span class="disabled">Sun </span>:<span> Closed</span></p></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <span class="disabled"><i class="material-icons">room</i></span>
          <h3>Contact</h3>
          <ul>
            <li><p>{{ model.location.address_1 }} {{ model.location.city }} {{ model.location.postal_code }}, {{ model.location.country.data.name }}</p></li>
            <li><p>{{ model.contacts.phone }}</p></li>
            <li><a href="mailto:{{ model.contacts.email }}"><p>{{ model.contacts.email }}</p></a></li>
            <ul class="list-inline">
              <li><a href="#comment"><i class="material-icons">public</i></a></li>
              <li><a href="#comment"><i class="material-icons">casino</i></a></li>
              <li><a href="#comment"><i class="material-icons">wc</i></a></li>
              <li><a href="#comment"><i class="material-icons">kitchen</i></a></li>
              <li><a href="#comment"><i class="material-icons">pool</i></a></li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        {{ lab-map location=model.location}}
      </div>
    </div>
  </div>
</article>
<article class="gallery">
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src={{ model.header }} alt="">
      <div class="overlay">
         <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src="http://fabtextiles.org/wp-content/uploads/2015/03/FabLab_00.jpg" alt="">
      <div class="overlay">
         <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src="http://www.iaacblog.com/wp-content/uploads/2015/10/P1000074.jpg" alt="">
      <div class="overlay">
         <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="hovereffect">
      <img class="img-responsive" src="img/pic3.jpg" alt="">
      <div class="overlay">
         <a class="info" href="#"><i class="material-icons">camera</i>View Lab Photos</a>
      </div>
    </div>
  </div>
</article>
{{#if model.projects}}
  {{ projects-gallery count=model.projects_count  projects=model.projects }}
{{/if}}


{{#if model.users}}
  {{ users-gallery count=model.users_count users=model.users }}
{{/if}}

{{#if model.machines}}
  {{ machines-gallery count=model.machines_count machines=model.machines }}
{{/if}}

<section id="nearby">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>nearby labs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="button" href="index.html" class="">
          <div class="profile">
            <img src="img/fablab_profile_pic.png" class="img-rounded" />
          </div>
          <div class="content">
            <p class="km">2km away</p>
            <h5>MADE Markerpace BCN</h5>
            <ul class="list-inline">
              <li>
                <p><a href="#build"><span><i class="material-icons">people</i></span>24</a></p>
              </li>
              <li>
                <p><a href="#people"><span><i class="material-icons">lightbulb_outline</i></span>5</a></p>
              </li>
              <li>
                <p><a href="#likes"><span><i class="material-icons">event_note</i></span>21</a></p>
              </li>
            </ul>
          </div>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" href="index.html" class="">
          <div class="profile">
            <img src="img/fablab_profile_pic.png" class="img-rounded" />
          </div>
          <div class="content">
            <p class="km">2km away</p>
            <h5>MADE Markerpace BCN</h5>
            <ul class="list-inline">
              <li>
                <p><a href="#build"><span><i class="material-icons">people</i></span>24</a></p>
              </li>
              <li>
                <p><a href="#people"><span><i class="material-icons">lightbulb_outline</i></span>5</a></p>
              </li>
              <li>
                <p><a href="#likes"><span><i class="material-icons">event_note</i></span>21</a></p>
              </li>
            </ul>
          </div>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" href="index.html" class="">
          <div class="profile">
            <img src="img/fablab_profile_pic.png" class="img-rounded" />
          </div>
          <div class="content">
            <p class="km">2km away</p>
            <h5>MADE Markerpace BCN</h5>
            <ul class="list-inline">
              <li>
                <p><a href="#build"><span><i class="material-icons">people</i></span>24</a></p>
              </li>
              <li>
                <p><a href="#people"><span><i class="material-icons">lightbulb_outline</i></span>5</a></p>
              </li>
              <li>
                <p><a href="#likes"><span><i class="material-icons">event_note</i></span>21</a></p>
              </li>
            </ul>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
<section id="newsletter">
  <div class="container">
    <div class="col-md-6">
      <h2>The latest development, in your inbox</h2>
      <p>Keep up to date with Fablabs.io announcements, events and developments.</p>
    </div>
    <div class="col-md-6">
      <form class="form-inline">
      <div class="form-group">
          <div class="input-group">
              <div class="input-group-addon"><i class="material-icons">email</i></div>
              <input type="text" class="form-control" id="InputEmail" placeholder="Email Address">
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
    </div>
  </div>
</section>
{{/if}}
{{outlet}}
